.section-4 {
    background-color: white;
    padding: 50px 0px;
}

.section-4 .wrapper {
    display: flex;
    flex-direction: column;
}

.section-4 .H2 {
    font-size: 48px;
    color: black;
    font-family: "Caveat";
    font-weight: bold;
}

.section-4 .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.section-4 .img {
    flex-basis: calc(100% / 3 - 15px); /* Устанавливаем ширину элементов в 1/3 от доступной ширины */
    max-width: calc(100% / 3 - 15px); /* Устанавливаем максимальную ширину элементов в 1/3 от доступной ширины */
    margin-bottom: 5px; /* Добавляем отступ снизу между изображениями */
  }
  
.section-4 .img:nth-child(n+4) {
    flex-basis: calc(100% / 4 - 15px); /* Для каждого 1, 4, 7, ... элемента меняем ширину на 1/4 от доступной ширины */
    max-width: calc(100% / 4 - 15px); /* Для каждого 1, 4, 7, ... элемента меняем максимальную ширину на 1/4 от доступной ширины */
}